@use "styles/common/variables";

.wrapper {
  display: flex;
  width: 1080px;
  margin: 0 auto;
  flex: 1 1 auto;
  background-color: white;

  main {
    width: 67%;
  }

  aside {
    width: 33%;
    border-left: 1px solid #f2f2f2;
  }
}